/* .main{
    background-color:gray;
    width: auto;
    height: 1000px;
}
.login{
    width: 500px;
    height: 500px;
    margin-left: 500px;
    background-color:goldenrod;
    color: aliceblue;
    text-align: center;
    padding-block-end: 50px;
}
.submit{
    width: 500px;
    height: 500px;
    margin-left: 500px;
    background-color:goldenrod;
    color: aliceblue;
    text-align: center;
    padding-block-end: 50px;

}


 */
