.main{
    background-color: cadetblue;
}
.firstmain{
    background-color: black;
    
}

.navmain{
background-color: aquamarine;
}
.por{
color: brown;
position: relative;

}


.proimg {
    border-radius: 200px;
    margin:0px 550px;
}
.profile h1,h3,span{
    text-align: center;
    margin-top: 40px;
}
.logo{
    text-align: center;
    margin-top: 40px;
}
.logo a{
    text-decoration: none;
    color: white;
    justify-content: space-evenly;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
.logo button{
    border-radius: 100px;
    width: 200px;
    margin-top: 80px;
}
.nav {
    position: relative;
    gap: 50px;
}
